* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  color: #484848;
  font-size: 14px;
}

