.places {
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: flex; 
}
.places h1,
.places h2 {
  font-size: 30px;
}
.places h1 {
  width: 100%;
}
.places article {
  width: 390px;
  padding: 20px;
  border: #ff5a5f 1px solid;
  border-radius: 4px;
  min-width: 390px;
  margin: 20px;
  text-align: center;
}
